@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/open-sans/OpenSans-Regular.ttf) format('ttf');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../fonts/open-sans/OpenSans-Semibold.ttf) format('ttf');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/open-sans/OpenSans-Bold.ttf) format('ttf');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(../fonts/open-sans/OpenSans-ExtraBold.ttf) format('ttf');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../fonts/open-sans/Roboto-Regular.ttf) format('ttf');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(../fonts/open-sans/Roboto-Medium.ttf) format('ttf');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(../fonts/open-sans/Roboto-Bold.ttf) format('ttf');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(../fonts/open-sans/Roboto-Black.ttf) format('ttf');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}